@mixin btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  @include centerFlex;
  background-color: #415867;
  transition: background-color .2s;

  @include media(M) {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.accordion {
  &__item {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    padding-left: 4rem;
    border-top: .1rem solid #415867;

    @include media(M) {
      padding-top: 2rem;
      padding-bottom: 1.8rem;
      padding-left: 6rem;
    }

    &.is-hide {
      .accordion__content {
        max-height: 0 !important;
      }

      .accordion__title-icon {
        opacity: 0;
      }
    }

    &-number {
      position: absolute;
      top: 1.8rem;
      left: 0;
      color: #415867;
      font-size: 1.6rem;

      @include media(M) {
        top: 2.4rem;
        font-size: 2rem;
      }
    }

    &-line {
      position: absolute;
      bottom: -.4rem;
      right: -1.8rem;

      @include media(M) {
        bottom: .1rem;
      }

      svg {
        max-width: .8rem;

        @include media(M) {
          max-width: initial;
        }
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 1rem;
    padding-right: 4rem;
    font-size: 1.8rem;
    line-height: 1.33;

    @include media(M) {
      margin-bottom: 1.3rem;
      font-size: 2.2rem;
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);
      @include btn;
      opacity: 1;
      transition: background-color .2s,
                  opacity .2s;

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__content {
    line-height: 1.6;
    color: #8095A4;
    opacity: 1;
    max-height: 0;
    overflow: hidden;
    transition: opacity .2s,
                max-height .2s;

    @include media(M) {
      padding-right: 4rem;
    }

    &-text {
      &:not(:last-of-type) {
        margin-bottom: 1.6rem;
      }
    }

    &-dots {
      display: block;
      margin-bottom: 1rem;
      color: #fff;
      font-size: 2.5rem;
    }
  }

  &__btn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    font-size: 1.2rem;
    line-height: 1.6;
    transition: color .2s;

    @include media(M) {
      font-size: 1.3rem;
    }

    &:hover {
      color: #9BB3C2;

      .accordion__icon {
        background-color: #fff;
      }
    }
  }

  &__icon {
    @include btn;

    svg {
      max-width: 1.2rem;

      @include media(M) {
        max-width: initial;
      }
    }
  }
}
