section.home
  .container

    header.home__header
      h1.home__title Out-Source
        span.home__br Tech
        |  Service

      p.home__desc Тo customers worldwide.

      form(action='')
        input#cv(type='file' name='' hidden)
        label.upload-btn(for='cv') upload your cv
