doctype html
html(lang='en')
  head
    // base meta
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='')
    meta(name='description', content='')
    meta(name='keywords', content='')

    // theme Color for Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#0088A5')

    // title
    title easyTechnologies

    // favicon
    link(rel='icon', type='image/png', href='img/favicon.png')

    // css
    link(rel='stylesheet', href='css/main.min.css')

  body
    include layout/header
    include layout/main
    include layout/footer

    // script's
    script(src='js/main.min.js')
